MetadataGenerator/war/MetadataLoginUtilService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://metadata.salesforce.sdbarletta.com/" name="MetadataLoginUtilService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://metadata.salesforce.sdbarletta.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
      <xs:schema version="1.0" targetNamespace="http://metadata.salesforce.sdbarletta.com/" xmlns:tns="http://metadata.salesforce.sdbarletta.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	  <xs:element name="Exception" type="tns:Exception"/>
	
	  <xs:element name="loginToSalesforce" type="tns:loginToSalesforce"/>
	
	  <xs:element name="loginToSalesforceResponse" type="tns:loginToSalesforceResponse"/>
	
	  <xs:element name="logout" type="tns:logout"/>
	
	  <xs:element name="logoutResponse" type="tns:logoutResponse"/>
	
	  <xs:complexType name="logout">
	    <xs:sequence/>
	  </xs:complexType>
	
	  <xs:complexType name="logoutResponse">
	    <xs:sequence/>
	  </xs:complexType>
	
	  <xs:complexType name="Exception">
	    <xs:sequence>
	      <xs:element name="message" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="loginToSalesforce">
	    <xs:sequence>
	      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
	      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
	      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="loginToSalesforceResponse">
	    <xs:sequence>
	      <xs:element name="return" type="tns:myConnectorConfig" minOccurs="0"/>
	    </xs:sequence>
	  </xs:complexType>
	
	  <xs:complexType name="myConnectorConfig">
	    <xs:sequence>
	      <xs:element name="authEndpoint" type="xs:string" minOccurs="0"/>
	      <xs:element name="serviceEndpoint" type="xs:string" minOccurs="0"/>
	      <xs:element name="sessionId" type="xs:string" minOccurs="0"/>
	      <xs:element name="manualLogin" type="xs:boolean"/>
	      <xs:element name="compression" type="xs:boolean"/>
	    </xs:sequence>
	  </xs:complexType>
	</xs:schema>
  </types>
  <message name="logout">
    <part name="parameters" element="tns:logout"/>
  </message>
  <message name="logoutResponse">
    <part name="parameters" element="tns:logoutResponse"/>
  </message>
  <message name="Exception">
    <part name="fault" element="tns:Exception"/>
  </message>
  <message name="loginToSalesforce">
    <part name="parameters" element="tns:loginToSalesforce"/>
  </message>
  <message name="loginToSalesforceResponse">
    <part name="parameters" element="tns:loginToSalesforceResponse"/>
  </message>
  <portType name="MetadataLoginUtil">
    <operation name="logout">
      <input message="tns:logout"/>
      <output message="tns:logoutResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
    <operation name="loginToSalesforce">
      <input message="tns:loginToSalesforce"/>
      <output message="tns:loginToSalesforceResponse"/>
      <fault message="tns:Exception" name="Exception"/>
    </operation>
  </portType>
  <binding name="MetadataLoginUtilPortBinding" type="tns:MetadataLoginUtil">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="logout">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
    <operation name="loginToSalesforce">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
      <fault name="Exception">
        <soap:fault name="Exception" use="literal"/>
      </fault>
    </operation>
  </binding>
  <service name="MetadataLoginUtilService">
    <port name="MetadataLoginUtilPort" binding="tns:MetadataLoginUtilPortBinding">
      <soap:address location="https://sfmetadata.appspot.com/sfmetadatagenerator"/>
    </port>
  </service>
</definitions>

