MetadataGenerator/war/MetadataWebServiceService.wsdl

<?xml version="1.0" encoding="UTF-8" standalone="yes"?>
<!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is JAX-WS RI 2.1.6 in JDK 6. -->
<definitions targetNamespace="http://metadata.salesforce.sdbarletta.com/" name="MetadataWebServiceService" xmlns="http://schemas.xmlsoap.org/wsdl/" xmlns:tns="http://metadata.salesforce.sdbarletta.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/">
  <types>
    	<xs:schema version="1.0" targetNamespace="http://metadata.salesforce.sdbarletta.com/" xmlns:tns="http://metadata.salesforce.sdbarletta.com/" xmlns:xs="http://www.w3.org/2001/XMLSchema">

  <xs:element name="createVisualforcePage" type="tns:createVisualforcePage"/>

  <xs:element name="createVisualforcePageResponse" type="tns:createVisualforcePageResponse"/>

  <xs:element name="createVisualforcePages" type="tns:createVisualforcePages"/>

  <xs:element name="createVisualforcePagesResponse" type="tns:createVisualforcePagesResponse"/>

  <xs:element name="ping" type="tns:ping"/>

  <xs:element name="pingResponse" type="tns:pingResponse"/>

  <xs:complexType name="ping">
    <xs:sequence/>
  </xs:complexType>

  <xs:complexType name="pingResponse">
    <xs:sequence>
      <xs:element name="return" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createVisualforcePages">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="arg3" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="arg4" type="xs:double"/>
      <xs:element name="arg5" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createVisualforcePagesResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:metadataResult" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="metadataResult">
    <xs:sequence>
      <xs:element name="operationName" type="xs:string" minOccurs="0"/>
      <xs:element name="success" type="xs:boolean"/>
      <xs:element name="errorMessage" type="xs:string" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
      <xs:element name="result" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createVisualforcePage">
    <xs:sequence>
      <xs:element name="arg0" type="xs:string" minOccurs="0"/>
      <xs:element name="arg1" type="xs:string" minOccurs="0"/>
      <xs:element name="arg2" type="xs:string" minOccurs="0"/>
      <xs:element name="arg3" type="xs:string" minOccurs="0"/>
      <xs:element name="arg4" type="xs:double"/>
      <xs:element name="arg5" type="xs:string" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>

  <xs:complexType name="createVisualforcePageResponse">
    <xs:sequence>
      <xs:element name="return" type="tns:metadataResult" minOccurs="0"/>
    </xs:sequence>
  </xs:complexType>
</xs:schema>
  </types>
  <message name="createVisualforcePage">
    <part name="parameters" element="tns:createVisualforcePage"/>
  </message>
  <message name="createVisualforcePageResponse">
    <part name="parameters" element="tns:createVisualforcePageResponse"/>
  </message>
  <message name="createVisualforcePages">
    <part name="parameters" element="tns:createVisualforcePages"/>
  </message>
  <message name="createVisualforcePagesResponse">
    <part name="parameters" element="tns:createVisualforcePagesResponse"/>
  </message>
  <message name="ping">
    <part name="parameters" element="tns:ping"/>
  </message>
  <message name="pingResponse">
    <part name="parameters" element="tns:pingResponse"/>
  </message>
  <portType name="MetadataWebService">
    <operation name="createVisualforcePage">
      <input message="tns:createVisualforcePage"/>
      <output message="tns:createVisualforcePageResponse"/>
    </operation>
    <operation name="createVisualforcePages">
      <input message="tns:createVisualforcePages"/>
      <output message="tns:createVisualforcePagesResponse"/>
    </operation>
    <operation name="ping">
      <input message="tns:ping"/>
      <output message="tns:pingResponse"/>
    </operation>
  </portType>
  <binding name="MetadataWebServicePortBinding" type="tns:MetadataWebService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <operation name="createVisualforcePage">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="createVisualforcePages">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
    <operation name="ping">
      <soap:operation soapAction=""/>
      <input>
        <soap:body use="literal"/>
      </input>
      <output>
        <soap:body use="literal"/>
      </output>
    </operation>
  </binding>
  <service name="MetadataWebServiceService">
    <port name="MetadataWebServicePort" binding="tns:MetadataWebServicePortBinding">
      <soap:address location="https://sfmetadata.appspot.com/sfmetadatagenerator"/>
    </port>
  </service>
</definitions>

